In [1]:
# import pyttsx3
# text = pyttsx3.init()
# text.setProperty('rate', 150)
# text.setProperty('volume', 1) # 0 to 1
# s = '''DOMAIN: Digital content management
# • CONTEXT: Classification is probably the most popular task that you would deal with in real life. Text in the form of blogs, posts, articles, etc.
# are written every second. It is a challenge to predict the information about the writer without knowing about him/her. We are going to create a
# classifier that predicts multiple features of the author of a given text. We have designed it as a Multi label classification problem.
# • DATA DESCRIPTION: Over 600,000 posts from more than 19 thousand bloggers The Blog Authorship Corpus consists of the collected posts of
# 19,320 bloggers gathered from blogger.com in August 2004. The corpus incorporates a total of 681,288 posts and over 140 million words - or
# approximately 35 posts and 7250 words per person. Each blog is presented as a separate file, the name of which indicates a blogger id# and
# the blogger’s self-provided gender, age, industry, and astrological sign. (All are labelled for gender and age but for many, industry and/or sign is
# marked as unknown.) All bloggers included in the corpus fall into one of three age groups:
# • 8240 "10s" blogs (ages 13-17),
# • 8086 "20s" blogs(ages 23-27) and
# • 2994 "30s" blogs (ages 33-47)
# • For each age group, there is an equal number of male and female bloggers. Each blog in the corpus includes at least 200 occurrences of
# common English words. All formatting has been stripped with two exceptions. Individual posts within a single blogger are separated by the
# date of the following post and links within a post are denoted by the label url link.
# • PROJECT OBJECTIVE: To build a NLP classifier which can use input text parameters to determine the label/s of the blog. Specific to this case
# study, you can consider the text of the blog: ‘text’ feature as independent variable and ‘topic’ as dependent variable.
# Steps and tasks: [ Total Score: 40 Marks]
# 1. Read and Analyse Dataset. [5 Marks]
# A. Clearly write outcome of data analysis(Minimum 2 points) [2 Marks]
# B. Clean the Structured Data [3 Marks]
# i. Missing value analysis and imputation. [1 Marks]
# ii. Eliminate Non-English textual data. [2 Marks]
# Hint: Refer ‘langdetect’ library to detect language of the input text)
# 2. Preprocess unstructured data to make it consumable for model training. [5 Marks]
# A. Eliminate All special Characters and Numbers [2 Marks]
# B. Lowercase all textual data [1 Marks]
# C. Remove all Stopwords [1 Marks]
# D. Remove all extra white spaces [1 Marks]
# 3. Build a base Classification model [8 Marks]
# A. Create dependent and independent variables [2 Marks]
# Hint: Treat ‘topic’ as a Target variable.
# B. Split data into train and test. [1 Marks]
# C. Vectorize data using any one vectorizer. [2 Marks]
# D. Build a base model for Supervised Learning - Classification. [2 Marks]
# E. Clearly print Performance Metrics. [1 Marks]
# Hint: Accuracy, Precision, Recall, ROC-AUC
# 4. Improve Performance of model. [14 Marks]
# A. Experiment with other vectorisers. [4 Marks]
# B. Build classifier Models using other algorithms than base model. [4 Marks]
# C. Tune Parameters/Hyperparameters of the model/s. [4 Marks]
# D. Clearly print Performance Metrics. [2 Marks]
# Hint: Accuracy, Precision, Recall, ROC-AUC

# 5. Share insights on relative performance comparison [8 Marks]
# A. Which vectorizer performed better? Probable reason?.
# [2 Marks]
# B. Which model outperformed? Probable reason? [2 Marks]
# C. Which parameter/hyperparameter significantly helped
# to improve performance?Probable reason?. [2 Marks]
# D. According to you, which performance metric should be
# given most importance, why?. [2 Marks]'''
# text.say(s)
# text.runAndWait()

> # PART A - 40 Marks

### • DOMAIN: 
        Digital content management
### • CONTEXT:
        Classification is probably the most popular task that you would deal with in real life. Text in the form of blogs, posts, articles, etc. are written every second. It is a challenge to predict the information about the writer without knowing about him/her. We are going to create a classifier that predicts multiple features of the author of a given text. We have designed it as a Multi label classification problem. 
### • DATA DESCRIPTION: 
        Over 600,000 posts from more than 19 thousand bloggers The Blog Authorship Corpus consists of the collected posts of 19,320 bloggers gathered from blogger.com in August 2004. The corpus incorporates a total of 681,288 posts and over 140 million words - or approximately 35 posts and 7250 words per person. Each blog is presented as a separate file, the name of which indicates a blogger id# and the blogger’s self-provided gender, age, industry, and astrological sign. (All are labelled for gender and age but for many, industry and/or sign is
        marked as unknown.) All bloggers included in the corpus fall into one of three age groups:
            • 8240 "10s" blogs (ages 13-17),
            • 8086 "20s" blogs(ages 23-27) and
            • 2994 "30s" blogs (ages 33-47)
            • For each age group, there is an equal number of male and female bloggers. Each blog in the corpus includes at least 200 occurrences of common English words. All formatting has been stripped with two exceptions. Individual posts within a single blogger are separated by the date of the following post and links within a post are denoted by the label url link.
### • PROJECT OBJECTIVE: 
        To build a NLP classifier which can use input text parameters to determine the label/s of the blog. Specific to this case study, you can consider the text of the blog: ‘text’ feature as independent variable and ‘topic’ as dependent variable.

## Steps and tasks: [ Total Score: 40 Marks]

### 1. Read and Analyse Dataset. [5 Marks]

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# import zipfile
# with zipfile.ZipFile('blogs.zip', 'r') as zip_ref:
#     zip_ref.extractall('E:\\RNN\\blogs')

In [27]:
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
from bs4 import BeautifulSoup
from contractions import contractions_dict
import unicodedata
from langdetect import detect
import spacy
nlp = spacy.load('en_core_web_sm')
tokenizer = ToktokTokenizer()
stopword_list = nltk.corpus.stopwords.words('english')

In [28]:
# blogs  = pd.read_csv('E:\\RNN\\blogs.zip', compression='zip', header=0, sep=',', quotechar='"') # reading the content directly from zip file


blogs = pd.read_csv('E:\\RNN\\blogs\\Output_1.csv')
blogs.sample(7)

,id,gender,age,topic,sign,date,text
4623,766556,female,34,indUnk,Sagittarius,"28,July,2004",Party Pooper I have been staying up l...
2201,589736,male,35,Technology,Aries,"05,August,2004",yay! the blog is finally posting. ...
3849,3543234,male,14,indUnk,Scorpio,"04,June,2004",New blog created where me and Jrago...
3929,3384037,female,17,Student,Scorpio,"19,May,2004",damn it...April's been medita...
485,3022585,female,27,Education,Aquarius,"01,August,2004",Do you remember watching music videos? ...
889,3568056,male,17,Sports-Recreation,Capricorn,"01,August,2004",i am sorry for the redundancy (iron...
1628,589736,male,35,Technology,Aries,"05,August,2004",woop woop

        A. Clearly write outcome of data analysis(Minimum 2 points) [2 Marks]

In [29]:
blogs.shape

(5000, 7)

In [30]:
blogs.columns

Index(['id', 'gender', 'age', 'topic', 'sign', 'date', 'text'], dtype='object')

In [31]:
blogs.describe(include='all')

,id,gender,age,topic,sign,date,text
count,5.000000e+03,5000,5000.000000,5000,5000,5000,5000
unique,NaN,2,NaN,20,12,573,4978
top,NaN,male,NaN,Technology,Aries,"05,August,2004",urlLink urlLink audblog audio post ...
freq,NaN,3294,NaN,2332,2483,2311,7
mean,1.532153e+06,NaN,29.544600,NaN,NaN,NaN,NaN
std,1.302576e+06,NaN,7.766008,NaN,NaN,NaN,NaN
min,4.677050e+05,NaN,14.000000,NaN,NaN,NaN,NaN
25%,5.897360e+05,NaN,24.000000,NaN,NaN,NaN,NaN
50%,6.497900e+05,NaN,35.000000,NaN,NaN,NaN,NaN
75%,3.168577e+06,NaN,35.000000,NaN,NaN,NaN,NaN
max,4.321554e+06,NaN,46.000000,NaN,NaN,NaN,NaN

In [32]:
blogs.dtypes

id         int64
gender    object
age        int64
topic     object
sign      object
date      object
text      object
dtype: object

        B. Clean the Structured Data [3 Marks]
                i. Missing value analysis and imputation. [1 Marks]
                ii. Eliminate Non-English textual data. [2 Marks]
                Hint: Refer ‘langdetect’ library to detect language of the input text)

In [33]:
# Missing value 
blogs.isnull().sum()  # from the count in describe also we can say that there are no missing values.

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [34]:
# Eliminate Non-English textual data using langdetect. 
print("Shape of Blogs before eliminating Non-English Text", blogs.shape)

loc = 0
eng = 0
other =0
for blog in blogs['text']:
    
    try:
        if (detect(blog) == 'en'):
            eng = eng + 1
        else:
            # print(loc)
            blogs.drop(loc, inplace = True)
            other = other +1
            
            
    except:
        pass
    loc = loc +1

Shape of Blogs before eliminating Non-English Text (5000, 7)
Shape of Blogs after eleminating Non-English Text (4737, 7)
Number of English Blogs 4725
Number of other Blogs 263

In [39]:
print("Shape of Blogs after eleminating Non-English Text", blogs.shape)
print("Number of English Blogs", eng)
print("Number of other Blogs", other)

Shape of Blogs after eleminating Non-English Text (4737, 7)
Number of English Blogs 4725
Number of other Blogs 263

In [38]:
blogs.sample(6)

,id,gender,age,topic,sign,date,text
4340,766556,female,34,indUnk,Sagittarius,"03,March,2003",So much for romantic notions urlLink...
262,3389671,male,26,indUnk,Leo,"22,June,2004",I've been working on my new game for a ...
2369,589736,male,35,Technology,Aries,"05,August,2004","(hopping up and down, clapping) cel..."
2100,589736,male,35,Technology,Aries,"05,August,2004",that is the funniest thing i have h...
4471,766556,female,34,indUnk,Sagittarius,"13,August,2003","Automatic Flatterer Of course, you ca..."
69,3581210,male,33,InvestmentBanking,Aquarius,"10,August,2004",Korea's pretty funny sometimes. ...

In [36]:
blogs.shape

(4737, 7)

### 2. Preprocess unstructured data to make it consumable for model training. [5 Marks]
        A. Eliminate All special Characters and Numbers [2 Marks]

In [13]:
# def strip_html_tags(text):
#     soup = BeautifulSoup(text, "html.parser")
#     stripped_text = soup.get_text()
#     return stripped_text

# strip_html_tags('<html><h2>Some important text</h2></html>')

In [80]:
# Consider a sentence like (I'll be a Father). If we remove the special characters before contractions, then it becomes 'Ill be a Father'. Which actually changes the entire meaning.
# So lets apply contractions first and then remove special characters.

def expand_contractions(text,contraction_mapping=contractions_dict):
    contractions_pattern=re.compile('({})'.format('|'.join
                                      (contraction_mapping.keys())),flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match=contraction.group(0)
        first_char=match[0]
        expanded_contraction=contraction_mapping.get(match)\
            if contraction_mapping.get(match)\
            else contraction_mapping.get(match.lower())
        expanded_contraction=first_char+expanded_contraction[1:]
        return expanded_contraction   
    
    
    try:                   
        expanded_text=contractions_pattern.sub(expand_match,str(text))
        expanded_text=re.sub("'"," ",expanded_text)
    except:
        return text
    return expanded_text

def remove_spl_char_n_numbers(text, remove_digits=True):
    # text = expand_contractions(text)
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

In [81]:
blogs.tail()

,id,topic,text,text_new3
4995,1103575,indUnk,So... I had another one of those dreams...,So... I had another one of those dreams...
4996,1103575,indUnk,mmm... strawberry tea for breakfast. To...,mmm... strawberry tea for breakfast. To...
4997,1103575,indUnk,"Yay for a new layout!! Yeah, I know, I...","Yay for a new layout!! Yeah, I know, I..."
4998,1103575,indUnk,"Ok, so I lied... Fed up isn't playing F...","Ok, so I lied... Fed up is not playing ..."
4999,1103575,indUnk,"well, today I went to church and talked...","well, today I went to church and talked..."

In [87]:
# i = 0
# for blog in blogs['text']:
#     blog = remove_spl_char_n_numbers(blog)
    

blogs['text_new3'] = blogs['text'].apply(expand_contractions)
blogs['text_new3'] = blogs['text_new3'].apply(remove_spl_char_n_numbers)
blogs.sample(18)

,id,topic,text,text_new3,text_new2
4871,1233335,BusinessServices,drove 30 minutes north stood in a frien...,drove minutes north stood in a friend ...,drove minutes north stood in a friends...
514,3022585,Education,"At one point during every season, save ...",At one point during every season save f...,At one point during every season save f...
1374,3413825,Student,Wow. it is gorgeous outside! Abso...,Wow it is gorgeous outside Absolu...,Wow it is gorgeous outside Absolu...
4351,766556,indUnk,Kvetchers Unite Ever notice how some ...,Kvetchers Unite Ever notice how some ...,Kvetchers Unite Ever notice how some ...
4516,766556,indUnk,Better Something about Autumn air ma...,Better Something about Autumn air ma...,Better Something about Autumn air ma...
4972,1103575,indUnk,this shade of red looks more and more l...,this shade of red looks more and more l...,this shade of red looks more and more l...
1655,589736,Technology,"Love, support, and a lot of antibio...",Love support and a lot of antibioti...,Love support and a lot of antibioti...
4271,766556,indUnk,"So now I'm Dorothy And apparently, my...",So now I am Dorothy And apparently my...,So now Im Dorothy And apparently my r...
4987,1103575,indUnk,"oh, and I forgot... last night at cant...",oh and I forgot last night at cantor p...,oh and I forgot last night at cantor p...
4497,766556,indUnk,You know that feeling you get when you ...,You know that feeling you get when you ...,You know that feeling you get when you ...
4542,766556,indUnk,"Screw up bird Apparently, yesterday ...",Screw up bird Apparently yesterday w...,Screw up bird Apparently yesterday w...
842,1550279,Student,Yesterday marked the one month po...,Yesterday marked the one month po...,Yesterday marked the one month po...
1487,589736,Technology,check out ben's picture on the sbac...,check out ben s picture on the sbac...,check out bens picture on the sbac ...
3220,589736,Technology,If I adopted a new creed every time...,If I adopted a new creed every time...,If I adopted a new creed every time...
598,3176655,Engineering,Well I'm back at work. Fuck ...,Well Im back at work Fuck al...,Well Im back at work Fuck al...
1579,589736,Technology,"oh wow, that' s really sad about hi...",oh wow that s really sad about his ...,oh wow that s really sad about his ...
603,3176655,Engineering,Okay so I got to thinking you...,Okay so I got to thinking you...,Okay so I got to thinking you...
1700,589736,Technology,'This is a fancy way of racial prof...,This is a fancy way of racial prof...,This is a fancy way of racial profi...

In [86]:
# blogs.drop(columns=["gender", 'age','sign','date','text_new'],inplace=True)
# blogs.drop(columns=['text_new2'],inplace=True)
# blogs.sample(20)

In [84]:
expand_contractions("i'll probably be moving to canada  ")

"i'll probably be moving to canada  "

In [47]:
# import unicodedata
# def remove_accented_chars(text):
#     text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
#     return text

In [48]:
# def simple_stemmer(text):
#     ps = nltk.porter.PorterStemmer()
#     text = ' '.join([ps.stem(word) for word in text.split()])
#     return text

# simple_stemmer("My system keeps crashing his crashed yesterday, ours crashes daily")



# def lemmatize_text(text):
#     text = nlp(text)
#     text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
#     return text

# lemmatize_text("My system keeps crashing! his crashed yesterday, ours crashes daily")


# def remove_stopwords(text, is_lower_case=False):
#     tokens = tokenizer.tokenize(text)
#     tokens = [token.strip() for token in tokens]
#     if is_lower_case:
#         filtered_tokens = [token for token in tokens if token not in stopword_list]
#     else:
#         filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
#     filtered_text = ' '.join(filtered_tokens)    
#     return filtered_text

# remove_stopwords("The, and, if are stopwords, computer is not")

        B. Lowercase all textual data [1 Marks]

In [88]:
blogs['text_new3'] = blogs['text_new3'].apply(lambda x:x.lower())
blogs.sample(4)

,id,topic,text,text_new3,text_new2
480,3022585,Education,When riding my bike and a slight hill a...,when riding my bike and a slight hill a...,When riding my bike and a slight hill a...
4043,3912317,indUnk,'Intelligence is an extremely subtle co...,intelligence is an extrehemely subtle ...,Intelligence is an extremely subtle con...
2468,589736,Technology,I doubt that a negative self-image ...,i doubt that a negative selfimage i...,I doubt that a negative selfimage i...
228,3429420,Student,'The hierachical order' Blades tore sk...,the hierachical order blades tore sk...,The hierachical order Blades tore skie...

        C. Remove all Stopwords [1 Marks]

In [89]:

def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text


blogs['text_new3'] = blogs['text_new3'].apply(remove_stopwords)
blogs.sample(4)

,id,topic,text,text_new3,text_new2
4519,766556,indUnk,New Favorite Bumpersticker Seen on t...,new favorite bumpersticker seen bumper shiny v...,New Favorite Bumpersticker Seen on t...
542,3022585,Education,"Why people? Again, google has sent som...",people google sent someone site typed together...,Why people Again google has sent someo...
3434,589736,Technology,i want to see more chickens in spac...,want see chickens space,i want to see more chickens in spac...
3180,589736,Technology,they really do urlLink hate us ...,really urllink hate us,they really do urlLink hate us ...

        
        D. Remove all extra white spaces [1 Marks]

In [95]:
def remove_whitespaces(text):
    text = re.sub(' +', ' ', text)
    return text

blogs['text_new3'] = blogs['text_new3'].apply(remove_whitespaces)
blogs.sample(10)

,id,topic,text,text_new3,text_new2
1061,1415200,Student,This week has gone by really slow. But ...,week gone really slow today tomarrow boat load...,This week has gone by really slow But t...
3752,3887270,Student,omg..i'm like FREAKED OUT..there ...,omgim like freaked outthere random guywho dont...,omgim like FREAKED OUTthere was t...
51,3581210,InvestmentBanking,"Ah, urlLink the monsoon season h...",ah urllink monsoon season ended thus begins ur...,Ah urlLink the monsoon season ha...
80,3539003,indUnk,Stroke my face that's restin...,stroke face resting lap tell ok tell together ...,Stroke my face thats resting...
2786,589736,Technology,stubborn monkey indeed. that artic...,stubborn monkey indeed article trappings onion...,stubborn monkey indeed that articl...
809,3168577,indUnk,The Art of Photo(shop)graphy Just pl...,art photoshopgraphy playind aroung photo urlli...,The Art of Photoshopgraphy Just play...
2325,589736,Technology,nay bark grass go may straight chan...,nay bark grass go may straight chant faye k q ...,nay bark grass go may straight chan...
2993,589736,Technology,game was good! we missed you and a...,game good missed angie tho,game was good we missed you and an...
4283,766556,indUnk,"Clean Up Time New Year started, and I...",clean time new year started decided clean blog...,Clean Up Time New Year started and I ...
4221,766556,indUnk,"Sigh of relief Well, thank god that's...",sigh relief well thank god christmas day histo...,Sigh of relief Well thank god thats o...

In [102]:
# blogs['text_new3'].str.replace("  ","")

### 3. Build a base Classification model [8 Marks]
        A. Create dependent and independent variables [2 Marks]
        Hint: Treat ‘topic’ as a Target variable.

In [106]:
# since X = blogs['text'] and y =['topic']]

x = blogs['text_new3']

y = blogs['topic']

        B. Split data into train and test. [1 Marks]

In [107]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(x,y, random_state=369)

        C. Vectorize data using any one vectorizer. [2 Marks]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(x)
cv = CountVectorizer(ngram_range=(2,2))

        D. Build a base model for Supervised Learning - Classification. [2 Marks]

        E. Clearly print Performance Metrics. [1 Marks]
        Hint: Accuracy, Precision, Recall, ROC-AUC

### 4. Improve Performance of model. [14 Marks]
        A. Experiment with other vectorisers. [4 Marks]

        B. Build classifier Models using other algorithms than base model. [4 Marks]

        C. Tune Parameters/Hyperparameters of the model/s. [4 Marks]

        D. Clearly print Performance Metrics. [2 Marks]
            Hint: Accuracy, Precision, Recall, ROC-AUC

### 5. Share insights on relative performance comparison [8 Marks]
        A. Which vectorizer performed better? Probable reason?.[2 Marks]

        B. Which model outperformed? Probable reason? [2 Marks]

        C. Which parameter/hyperparameter significantly helped to improve performance?Probable reason?. [2 Marks]

        D. According to you, which performance metric should be given most importance, why?. [2 Marks]

> # PART B - 20 Marks

### • DOMAIN: 
    Customer support
### • CONTEXT: 
    Great Learning has a an academic support department which receives numerous support requests every day throughout the year. Teams are spread across geographies and try to provide support round the year. Sometimes there are circumstances where due to heavy workload certain request resolutions are delayed, impacting company’s business. Some of the requests are very generic where a proper resolution procedure delivered to the user can solve the problem. Company is looking forward to design an automation which can interact with the user, understand the problem and display the resolution procedure [ if found as a generic request ] or redirect the request to an actual human support executive if the request is complex or not in it’s database.
### • DATA DESCRIPTION: 
    A sample corpus is attached for your reference. Please enhance/add more data to the corpus using your linguistics skills.
### • PROJECT OBJECTIVE: 
    Design a python based interactive semi - rule based chatbot which can do the following:
        1. Start chat session with greetings and ask what the user is looking for. [5 Marks]
        2. Accept dynamic text based questions from the user. Reply back with relevant answer from the designed corpus. [10 Marks]
        3. End the chat session only if the user requests to end else ask what the user is looking for. Loop continues till the user asks to end it. [5 Marks]
        Hint: There are a lot of techniques using which one can clean and prepare the data which can be used to train a ML/DL classifier. Hence, it might require you to experiment, research, self learn and implement the above classifier. There might be many iterations between hand building the corpus and designing the best fit text classifier. As the quality and quantity of corpus increases the model’s performance i.e. ability to answer
        right questions also increases.
        Reference: https://www.mygreatlearning.com/blog/basics-of-building-an-artificial-intelligence-chatbot/
### • Evaluation: 
    Evaluator will use linguistics to twist and turn sentences to ask questions on the topics described in DATA DESCRIPTION and check if the bot is giving relevant replies

In [20]:
texttospeech

NameError: name 'texttospeech' is not defined

In [ ]:
import pyttsx3
text = pyttsx3.init()
s = 'The code is Compiled'
text.say(s)
text.runAndWait()