In [1]:
# import pyttsx3
# text = pyttsx3.init()
# text.setProperty('rate', 150)
# text.setProperty('volume', 1) # 0 to 1
# s = '''DOMAIN: Digital content management
# • CONTEXT: Classification is probably the most popular task that you would deal with in real life. Text in the form of blogs, posts, articles, etc.
# are written every second. It is a challenge to predict the information about the writer without knowing about him/her. We are going to create a
# classifier that predicts multiple features of the author of a given text. We have designed it as a Multi label classification problem.
# • DATA DESCRIPTION: Over 600,000 posts from more than 19 thousand bloggers The Blog Authorship Corpus consists of the collected posts of
# 19,320 bloggers gathered from blogger.com in August 2004. The corpus incorporates a total of 681,288 posts and over 140 million words - or
# approximately 35 posts and 7250 words per person. Each blog is presented as a separate file, the name of which indicates a blogger id# and
# the blogger’s self-provided gender, age, industry, and astrological sign. (All are labelled for gender and age but for many, industry and/or sign is
# marked as unknown.) All bloggers included in the corpus fall into one of three age groups:
# • 8240 "10s" blogs (ages 13-17),
# • 8086 "20s" blogs(ages 23-27) and
# • 2994 "30s" blogs (ages 33-47)
# • For each age group, there is an equal number of male and female bloggers. Each blog in the corpus includes at least 200 occurrences of
# common English words. All formatting has been stripped with two exceptions. Individual posts within a single blogger are separated by the
# date of the following post and links within a post are denoted by the label url link.
# • PROJECT OBJECTIVE: To build a NLP classifier which can use input text parameters to determine the label/s of the blog. Specific to this case
# study, you can consider the text of the blog: ‘text’ feature as independent variable and ‘topic’ as dependent variable.
# Steps and tasks: [ Total Score: 40 Marks]
# 1. Read and Analyse Dataset. [5 Marks]
# A. Clearly write outcome of data analysis(Minimum 2 points) [2 Marks]
# B. Clean the Structured Data [3 Marks]
# i. Missing value analysis and imputation. [1 Marks]
# ii. Eliminate Non-English textual data. [2 Marks]
# Hint: Refer ‘langdetect’ library to detect language of the input text)
# 2. Preprocess unstructured data to make it consumable for model training. [5 Marks]
# A. Eliminate All special Characters and Numbers [2 Marks]
# B. Lowercase all textual data [1 Marks]
# C. Remove all Stopwords [1 Marks]
# D. Remove all extra white spaces [1 Marks]
# 3. Build a base Classification model [8 Marks]
# A. Create dependent and independent variables [2 Marks]
# Hint: Treat ‘topic’ as a Target variable.
# B. Split data into train and test. [1 Marks]
# C. Vectorize data using any one vectorizer. [2 Marks]
# D. Build a base model for Supervised Learning - Classification. [2 Marks]
# E. Clearly print Performance Metrics. [1 Marks]
# Hint: Accuracy, Precision, Recall, ROC-AUC
# 4. Improve Performance of model. [14 Marks]
# A. Experiment with other vectorisers. [4 Marks]
# B. Build classifier Models using other algorithms than base model. [4 Marks]
# C. Tune Parameters/Hyperparameters of the model/s. [4 Marks]
# D. Clearly print Performance Metrics. [2 Marks]
# Hint: Accuracy, Precision, Recall, ROC-AUC

# 5. Share insights on relative performance comparison [8 Marks]
# A. Which vectorizer performed better? Probable reason?.
# [2 Marks]
# B. Which model outperformed? Probable reason? [2 Marks]
# C. Which parameter/hyperparameter significantly helped
# to improve performance?Probable reason?. [2 Marks]
# D. According to you, which performance metric should be
# given most importance, why?. [2 Marks]'''
# text.say(s)
# text.runAndWait()

> # PART A - 40 Marks

### • DOMAIN: 
        Digital content management
### • CONTEXT:
        Classification is probably the most popular task that you would deal with in real life. Text in the form of blogs, posts, articles, etc. are written every second. It is a challenge to predict the information about the writer without knowing about him/her. We are going to create a classifier that predicts multiple features of the author of a given text. We have designed it as a Multi label classification problem. 
### • DATA DESCRIPTION: 
        Over 600,000 posts from more than 19 thousand bloggers The Blog Authorship Corpus consists of the collected posts of 19,320 bloggers gathered from blogger.com in August 2004. The corpus incorporates a total of 681,288 posts and over 140 million words - or approximately 35 posts and 7250 words per person. Each blog is presented as a separate file, the name of which indicates a blogger id# and the blogger’s self-provided gender, age, industry, and astrological sign. (All are labelled for gender and age but for many, industry and/or sign is
        marked as unknown.) All bloggers included in the corpus fall into one of three age groups:
            • 8240 "10s" blogs (ages 13-17),
            • 8086 "20s" blogs(ages 23-27) and
            • 2994 "30s" blogs (ages 33-47)
            • For each age group, there is an equal number of male and female bloggers. Each blog in the corpus includes at least 200 occurrences of common English words. All formatting has been stripped with two exceptions. Individual posts within a single blogger are separated by the date of the following post and links within a post are denoted by the label url link.
### • PROJECT OBJECTIVE: 
        To build a NLP classifier which can use input text parameters to determine the label/s of the blog. Specific to this case study, you can consider the text of the blog: ‘text’ feature as independent variable and ‘topic’ as dependent variable.

## Steps and tasks: [ Total Score: 40 Marks]

### 1. Read and Analyse Dataset. [5 Marks]

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# import zipfile
# with zipfile.ZipFile('blogs.zip', 'r') as zip_ref:
#     zip_ref.extractall('E:\\RNN\\blogs')

In [3]:
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
from bs4 import BeautifulSoup
from contractions import contractions_dict
import unicodedata
from langdetect import detect
import spacy
nlp = spacy.load('en_core_web_sm')
tokenizer = ToktokTokenizer()
stopword_list = nltk.corpus.stopwords.words('english')

In [4]:
# blogs  = pd.read_csv('E:\\RNN\\blogs.zip', compression='zip', header=0, sep=',', quotechar='"') # reading the content directly from zip file


blogs = pd.read_csv('E:\\RNN\\blogs\\Output_1.csv')
blogs.sample(7)

,id,gender,age,topic,sign,date,text
1623,589736,male,35,Technology,Aries,"05,August,2004","not yet, but I did almost buy a Buf..."
1177,1238294,female,33,indUnk,Leo,"13,July,2004",Look at this yummy yarn: It cam...
390,649790,female,24,indUnk,Scorpio,"11,January,2003",Ah hah! So that's what urlLink...
3532,589736,male,35,Technology,Aries,"05,August,2004",renee zellwegger looks like a shave...
587,3176655,male,24,Engineering,Libra,"03,July,2004",Forgive me friends for I have...
2647,589736,male,35,Technology,Aries,"05,August,2004",I was with you until the last sente...
307,649790,female,24,indUnk,Scorpio,"27,July,2002",Quizzes Here are a couple I t...

        A. Clearly write outcome of data analysis(Minimum 2 points) [2 Marks]

In [5]:
blogs.shape

(5000, 7)

In [6]:
blogs.columns

Index(['id', 'gender', 'age', 'topic', 'sign', 'date', 'text'], dtype='object')

In [7]:
blogs.describe(include='all')

,id,gender,age,topic,sign,date,text
count,5.000000e+03,5000,5000.000000,5000,5000,5000,5000
unique,NaN,2,NaN,20,12,573,4978
top,NaN,male,NaN,Technology,Aries,"05,August,2004",urlLink urlLink audblog audio post ...
freq,NaN,3294,NaN,2332,2483,2311,7
mean,1.532153e+06,NaN,29.544600,NaN,NaN,NaN,NaN
std,1.302576e+06,NaN,7.766008,NaN,NaN,NaN,NaN
min,4.677050e+05,NaN,14.000000,NaN,NaN,NaN,NaN
25%,5.897360e+05,NaN,24.000000,NaN,NaN,NaN,NaN
50%,6.497900e+05,NaN,35.000000,NaN,NaN,NaN,NaN
75%,3.168577e+06,NaN,35.000000,NaN,NaN,NaN,NaN
max,4.321554e+06,NaN,46.000000,NaN,NaN,NaN,NaN

In [8]:
blogs.dtypes

id         int64
gender    object
age        int64
topic     object
sign      object
date      object
text      object
dtype: object

### Outcome of Data Analysis

* There are 2 genders, 40 topics and 12 signs.
* When we look at unique and count for text, we can say there are 69632 (681284 - 611652) duplicate texts. 
* Among the duplicate blog text, urlLink is repeating mosltly.
* We have more male bloggers, most blogs belong to indUnk and most bloggers have cancer as their sign.
* There are no null values.

        B. Clean the Structured Data [3 Marks]
                i. Missing value analysis and imputation. [1 Marks]
                ii. Eliminate Non-English textual data. [2 Marks]
                Hint: Refer ‘langdetect’ library to detect language of the input text)

In [9]:
# Missing value 
blogs.isnull().sum()  # from the count in describe also we can say that there are no missing values.

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [10]:
# Eliminate Non-English textual data using langdetect. 
print("Shape of Blogs before eliminating Non-English Text", blogs.shape)

loc = 0
eng = 0
other =0
for blog in blogs['text']:
    
    try:
        if (detect(blog) == 'en'):
            eng = eng + 1
        else:
            # print(loc)
            blogs.drop(loc, inplace = True)
            other = other +1
            
            
    except:
        pass
    loc = loc +1

Shape of Blogs before eliminating Non-English Text (5000, 7)

In [11]:
print("Shape of Blogs after eleminating Non-English Text:", blogs.shape)
print("Number of English Blogs:", eng)
print("Number of other language Blogs which were removed:", other)

Shape of Blogs after eleminating Non-English Text: (4734, 7)
Number of English Blogs: 4722
Number of other language Blogs which were removed: 266

### 2. Preprocess unstructured data to make it consumable for model training. [5 Marks]
        A. Eliminate All special Characters and Numbers [2 Marks]

In [12]:
# Consider a sentence like (I'll be a Father). If we remove the special characters before contractions, then it becomes 'Ill be a Father'. Which actually changes the entire meaning.
# So lets apply contractions first and then remove special characters.

def expand_contractions(text,contraction_mapping=contractions_dict):
    contractions_pattern=re.compile('({})'.format('|'.join
                                      (contraction_mapping.keys())),flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match=contraction.group(0)
        first_char=match[0]
        expanded_contraction=contraction_mapping.get(match)\
            if contraction_mapping.get(match)\
            else contraction_mapping.get(match.lower())
        expanded_contraction=first_char+expanded_contraction[1:]
        return expanded_contraction   
    
    
    try:                   
        expanded_text=contractions_pattern.sub(expand_match,str(text))
        expanded_text=re.sub("'"," ",expanded_text)
    except:
        return text
    return expanded_text

def remove_spl_char_n_numbers(text, remove_digits=True):
    # text = expand_contractions(text)
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

In [19]:
expand_contractions("she'll be probably moving to India")

'she will be probably moving to India'

In [13]:
blogs.tail()

,id,gender,age,topic,sign,date,text
4995,1103575,female,17,indUnk,Scorpio,"27,August,2003",So... I had another one of those dreams...
4996,1103575,female,17,indUnk,Scorpio,"27,August,2003",mmm... strawberry tea for breakfast. To...
4997,1103575,female,17,indUnk,Scorpio,"27,August,2003","Yay for a new layout!! Yeah, I know, I..."
4998,1103575,female,17,indUnk,Scorpio,"26,August,2003","Ok, so I lied... Fed up isn't playing F..."
4999,1103575,female,17,indUnk,Scorpio,"26,August,2003","well, today I went to church and talked..."

In [14]:
blogs['text'] = blogs['text'].apply(expand_contractions)  # applying expand_contractions function on the text column
blogs['text'] = blogs['text'].apply(remove_spl_char_n_numbers) # applying remove_spl_char_n_numbers function on the text column
blogs.sample(18)

,id,gender,age,topic,sign,date,text
1602,589736,male,35,Technology,Aries,"05,August,2004",Okay a how does one stumble upon ...
2771,589736,male,35,Technology,Aries,"05,August,2004",Here in this place I have no sound ...
2358,589736,male,35,Technology,Aries,"05,August,2004",did anyone besides me see our frien...
2947,589736,male,35,Technology,Aries,"05,August,2004",yep and i have a copy on the way ...
4743,4013263,female,23,Automotive,Aquarius,"23,July,2004",My new job is greatnbsp I sta...
4280,766556,female,34,indUnk,Sagittarius,"06,January,2003",Another Borrowed Toy My Cyborg na...
4198,766556,female,34,indUnk,Sagittarius,"22,November,2002",Oh What a night Late September back i...
1176,1238294,female,33,indUnk,Leo,"21,July,2004",I finished another urlLink tiny ...
4517,766556,female,34,indUnk,Sagittarius,"01,October,2003",Oh and one more thing October is her...
4155,766556,female,34,indUnk,Sagittarius,"16,September,2002",Cleaning House First of all thanks t...
3188,589736,male,35,Technology,Aries,"05,August,2004",RTG check your ehemail Sunday morn...
2885,589736,male,35,Technology,Aries,"05,August,2004",right now i have on no shoes no sh...
680,3176655,male,24,Engineering,Libra,"03,July,2004",Happy friday I am happy an...
3760,3887270,female,17,Student,Leo,"21,July,2004",oh YEAH and im the FIRST PERSON O...
3756,3887270,female,17,Student,Leo,"22,July,2004",Some people live for the fortune S...
4938,1103575,female,17,indUnk,Scorpio,"28,July,2003",Sometimes I think my name is Jane ...
570,3808902,female,45,indUnk,Sagittarius,"02,July,2004",Well Independance Day is upon us and I ...
2113,589736,male,35,Technology,Aries,"05,August,2004",Waiting for the Feeling Police Al...

In [17]:
# blogs.drop(columns=["gender", 'age','sign','date','text_new'],inplace=True)
# blogs.drop(columns=['text_new2'],inplace=True)
# blogs.sample(20)

In [19]:
# import unicodedata
# def remove_accented_chars(text):
#     text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
#     return text

In [20]:
# def simple_stemmer(text):
#     ps = nltk.porter.PorterStemmer()
#     text = ' '.join([ps.stem(word) for word in text.split()])
#     return text

# simple_stemmer("My system keeps crashing his crashed yesterday, ours crashes daily")



# def lemmatize_text(text):
#     text = nlp(text)
#     text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
#     return text

# lemmatize_text("My system keeps crashing! his crashed yesterday, ours crashes daily")


# def remove_stopwords(text, is_lower_case=False):
#     tokens = tokenizer.tokenize(text)
#     tokens = [token.strip() for token in tokens]
#     if is_lower_case:
#         filtered_tokens = [token for token in tokens if token not in stopword_list]
#     else:
#         filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
#     filtered_text = ' '.join(filtered_tokens)    
#     return filtered_text

# remove_stopwords("The, and, if are stopwords, computer is not")

        B. Lowercase all textual data [1 Marks]

In [20]:
blogs['text'] = blogs['text'].apply(lambda x:x.lower())    #LOWERCASE
blogs.sample(4)

,id,gender,age,topic,sign,date,text
4615,766556,female,34,indUnk,Sagittarius,"14,June,2004",depressed my urllink boyfriend stil...
2492,589736,male,35,Technology,Aries,"05,August,2004",i appreciate your opinion re the is...
1116,1415200,female,15,Student,Libra,"10,June,2004",it is in the morning and im up because...
3003,589736,male,35,Technology,Aries,"05,August,2004",i think we should just trust our pr...

        C. Remove all Stopwords [1 Marks]

In [21]:

def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text


blogs['text'] = blogs['text'].apply(remove_stopwords)  #STOP WORDS
blogs.sample(4)

,id,gender,age,topic,sign,date,text
47,3581210,male,33,InvestmentBanking,Aquarius,"11,July,2004",must nuts every months take canada weeks lates...
1015,3644456,male,23,indUnk,Taurus,"21,July,2004",hit dognbspaka former red sox b suv accident t...
2334,589736,male,35,Technology,Aries,"05,August,2004",fat nothin
4990,1103575,female,17,indUnk,Scorpio,"28,August,2003",sometimes swear song matchbox twenty say cold ...

        
        D. Remove all extra white spaces [1 Marks]

In [23]:
def remove_whitespaces(text):
    text = re.sub(' +', ' ', text)
    return text

blogs['text'] = blogs['text'].apply(remove_whitespaces)  #leading white spaces
blogs.sample(4)

,id,gender,age,topic,sign,date,text
3294,589736,male,35,Technology,Aries,"05,August,2004",someone right explain iraq learned morning com...
3534,589736,male,35,Technology,Aries,"05,August,2004",larry muy linda better stop calling thehem wac...
3706,3367100,male,39,Communications-Media,Libra,"01,June,2004",exercise dehemocratic right get vote ok someon...
673,3176655,male,24,Engineering,Libra,"03,July,2004",sometimes brightest bulb chandelier trying hoo...

### 3. Build a base Classification model [8 Marks]
        A. Create dependent and independent variables [2 Marks]
        Hint: Treat ‘topic’ as a Target variable.

In [24]:
# since X = blogs['text'] and y =blogs['topic']

x = blogs['text']

y = blogs['topic']

        B. Split data into train and test. [1 Marks]

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(x,y, random_state=369)

print("Shape of x_train : ", x_train.shape)
print("Shape of x_test : ", x_test.shape)
print("Shape of y_train : ", y_train.shape)
print("Shape of y_test : ", y_test.shape)

Shape of x_train :  (3550,)
Shape of x_test :  (1184,)
Shape of y_train :  (3550,)
Shape of y_test :  (1184,)

        C. Vectorize data using any one vectorizer. [2 Marks]

In [27]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv = CountVectorizer(min_df=10) # lowercase=True,stop_words='english' are handled already
print('x shape:',x_train.shape)
cv.fit_transform(x_train)
#Check the vocablury size
len(cv.vocabulary_)

x shape: (3550,)

3445

In [29]:
#Convert Training blog text into Count Vectors
x_train_ct = cv.transform(x_train)

#Size of Document Term Matrix
x_train_ct.shape

(3550, 3445)

In [30]:
# Apply transform on test data
x_test_ct = cv.transform(x_test)
x_test_ct.shape

(1184, 3445)

        D. Build a base model for Supervised Learning - Classification. [2 Marks]

In [31]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(x_train_ct, y_train)
y_pred_class = nb.predict(x_test_ct)
print("Number of Features : ", x_train_ct.shape[1])
print("Training Accuracy : ",nb.score(x_train_ct,y_train ))
print("Testing Accuracy : ", nb.score(x_test_ct,y_test))

Number of Features :  3445
Training Accuracy :  0.7997183098591549
Testing Accuracy :  0.6537162162162162

        E. Clearly print Performance Metrics. [1 Marks]
        Hint: Accuracy, Precision, Recall, ROC-AUC

In [32]:
# Printing the confusion matrix
# print(confusion_matrix(y_test, y_pred_class))
# Printing the precision and recall, among other metrics
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred_class))

                      precision    recall  f1-score   support

          Accounting       0.00      0.00      0.00         1
                Arts       0.00      0.00      0.00         6
          Automotive       0.00      0.00      0.00         4
             Banking       0.00      0.00      0.00         5
    BusinessServices       0.00      0.00      0.00        20
Communications-Media       0.50      0.12      0.20        16
          Consulting       1.00      0.50      0.67         4
           Education       0.42      0.38      0.40        29
         Engineering       0.65      0.40      0.49        43
            Internet       0.00      0.00      0.00         6
   InvestmentBanking       0.83      0.79      0.81        19
                 Law       0.00      0.00      0.00         1
          Non-Profit       0.57      0.40      0.47        10
             Science       1.00      0.33      0.50         9
   Sports-Recreation       0.42      0.85      0.56        13
             Student       0.54      0.59      0.57       149
          Technology       0.85      0.70      0.77       530
              indUnk       0.53      0.78      0.63       319

            accuracy                           0.65      1184
           macro avg       0.41      0.32      0.34      1184
        weighted avg       0.67      0.65      0.64      1184

### 4. Improve Performance of model. [14 Marks]
        A. Experiment with other vectorisers. [4 Marks]

In [33]:
# Lets use Tfidf Vectorizer now
from sklearn.feature_extraction.text import TfidfVectorizer
tv = TfidfVectorizer(min_df=10)
tv.fit_transform(x_train)
#Check the vocablury size
len(tv.vocabulary_)

3445

In [34]:
#Convert Training blog text into Count Vectors
x_train_tv = tv.transform(x_train)

#Size of Document Term Matrix
x_train_tv.shape

(3550, 3445)

In [35]:
# Apply transform on test data
x_test_tv = tv.transform(x_test)
x_test_tv.shape

(1184, 3445)

        B. Build classifier Models using other algorithms than base model. [4 Marks]

In [36]:
from sklearn.ensemble import RandomForestClassifier
rfclf = RandomForestClassifier(max_depth=100)
rfclf.fit(x_train_tv, y_train)
y_pred_class = nb.predict(x_test_ct)
print("Number of Features : ", x_train_tv.shape[1])
print("Training Accuracy : ",rfclf.score(x_train_tv,y_train))
print("Testing Accuracy : ", rfclf.score(x_test_tv,y_test))

Number of Features :  3445
Training Accuracy :  0.9845070422535211
Testing Accuracy :  0.6216216216216216

        C. Tune Parameters/Hyperparameters of the model/s. [4 Marks]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfclf2 = RandomForestClassifier(max_depth=200)
rfclf2.fit(x_train_tv, y_train)
y_pred_class = nb.predict(x_test_ct)
print("Number of Features : ", x_train_tv.shape[1])
print("Training Accuracy : ",rfclf2.score(x_train_tv,y_train ))
print("Testing Accuracy : ", rfclf2.score(x_test_tv,y_test))

        D. Clearly print Performance Metrics. [2 Marks]
            Hint: Accuracy, Precision, Recall, ROC-AUC

### 5. Share insights on relative performance comparison [8 Marks]
        A. Which vectorizer performed better? Probable reason?.[2 Marks]

        B. Which model outperformed? Probable reason? [2 Marks]

        C. Which parameter/hyperparameter significantly helped to improve performance?Probable reason?. [2 Marks]

        D. According to you, which performance metric should be given most importance, why?. [2 Marks]

> # PART B - 20 Marks

### • DOMAIN: 
    Customer support
### • CONTEXT: 
    Great Learning has a an academic support department which receives numerous support requests every day throughout the year. Teams are spread across geographies and try to provide support round the year. Sometimes there are circumstances where due to heavy workload certain request resolutions are delayed, impacting company’s business. Some of the requests are very generic where a proper resolution procedure delivered to the user can solve the problem. Company is looking forward to design an automation which can interact with the user, understand the problem and display the resolution procedure [ if found as a generic request ] or redirect the request to an actual human support executive if the request is complex or not in it’s database.
### • DATA DESCRIPTION: 
    A sample corpus is attached for your reference. Please enhance/add more data to the corpus using your linguistics skills.
### • PROJECT OBJECTIVE: 
    Design a python based interactive semi - rule based chatbot which can do the following:
        1. Start chat session with greetings and ask what the user is looking for. [5 Marks]
        2. Accept dynamic text based questions from the user. Reply back with relevant answer from the designed corpus. [10 Marks]
        3. End the chat session only if the user requests to end else ask what the user is looking for. Loop continues till the user asks to end it. [5 Marks]
        Hint: There are a lot of techniques using which one can clean and prepare the data which can be used to train a ML/DL classifier. Hence, it might require you to experiment, research, self learn and implement the above classifier. There might be many iterations between hand building the corpus and designing the best fit text classifier. As the quality and quantity of corpus increases the model’s performance i.e. ability to answer
        right questions also increases.
        Reference: https://www.mygreatlearning.com/blog/basics-of-building-an-artificial-intelligence-chatbot/
### • Evaluation: 
    Evaluator will use linguistics to twist and turn sentences to ask questions on the topics described in DATA DESCRIPTION and check if the bot is giving relevant replies

In [20]:
texttospeech

NameError: name 'texttospeech' is not defined

In [ ]:
import pyttsx3
text = pyttsx3.init()
s = 'The code is Compiled'
text.say(s)
text.runAndWait()