In [57]:
import numpy as np
import pandas as pd
import re

In [58]:
BLOG = pd.read_csv('blogtext.csv')
BLOG.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [59]:
BLOG['text'] = BLOG['text'].apply(lambda s: s.lower())
BLOG['text'] = BLOG['text'].apply(lambda s: re.sub('[^0-9a-z #+_]','',s))
BLOG['text'] = BLOG['text'].apply(lambda s: re.sub(r"[-()\"#/@;:<>{}+=~|.?,]",'',s))
BLOG.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004",info has been found 100 pages and ...
1,2059027,male,15,Student,Leo,"13,May,2004",these are the team members drewes...
2,2059027,male,15,Student,Leo,"12,May,2004",in het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks to yahoos toolbar i can no...

In [63]:
BLOG['topic'] = BLOG['topic'].astype('category')

In [64]:
X = BLOG['text']
y = BLOG['topic']

In [65]:
y

0                   Student
1                   Student
2                   Student
3                   Student
4         InvestmentBanking
                ...
681279              Student
681280              Student
681281              Student
681282              Student
681283              Student
Name: topic, Length: 681284, dtype: category
Categories (40, object): [Accounting, Advertising, Agriculture, Architecture, ..., Telecommunications, Tourism, Transportation, indUnk]

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=101, test_size=0.25)

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer(analyzer='word', stop_words='english')
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [74]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

In [75]:
mnb.fit(X_train_dtm, y_train)

MultinomialNB()

In [76]:
y_pred_mnb = mnb.predict(X_test_dtm)

In [77]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred_mnb)

0.3825247620669207

In [ ]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='rbf') 

#Train the model using the training sets
clf.fit(X_train_dtm, y_train)

#Predict the response for test dataset
y_pred_svm = clf.predict(X_test_dtm)

In [ ]:
accuracy_score(y_test, y_pred_svm)