> # YELP REVIEWS - NLP

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [24]:
import pandas as pd
import numpy as np
import scipy as sp # why
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from textblob import TextBlob, Word
import nltk 
from nltk.stem.snowball import SnowballStemmer
# !pip install -- user textblob

In [25]:
import json
import pandas as pd
data_file = open("E:/RNN/NLP/GL/yelp_academic_dataset_review.json")
data = []
for line in data_file:
    data.append(json.loads(line))
checkin_df = pd.DataFrame(data)

In [29]:

import pyttsx3
text = pyttsx3.init()

s = 'The code is Compiled'

text.say(s)
text.runAndWait()

In [27]:
data_file.close()
yelp = checkin_df.sample(10000)
yelp.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
3301309,qKui48PwdX8Q7XBZn2wVbg,KH0ObRL5MSK_61O6-Ug-gA,wAi8PbU2-HL-stkI2z2YcA,4.0,2,0,0,A great club inside a great casino! It's open ...,2018-04-22 05:27:33
563948,-S-3x_Nt1QuCDFpVKV7iiA,9C506uGV0iHMXJd0iTYn1A,PjknD8uD_0tisZQbomiYoQ,1.0,2,1,0,I've lived in Philly for over a year and this ...,2019-10-17 03:49:05
4822851,z_VtSSg6gvITfpCUe2La9A,HlkmaniikET62_42GmHtkA,oEmhWImdn_1kuXBwxD6eCA,1.0,3,0,0,If there was a zero stars for fair business pr...,2021-07-23 21:28:46
4872780,HjksN1FOETsqqIzFva6ItQ,wckCTnXT1PRv2H9hUE6ifg,-tJx7YTATAtQgjr5aoaufA,5.0,2,1,2,I've been to their Willow Grove location a few...,2019-10-04 22:23:48
6750269,UMenmLClOmJJM2HKd20i7g,M_K8lzugQ_O1qhzdBtxVJg,E_F96bse9PeANBz-dR5EHA,5.0,1,0,0,"Excellent food, excellent service and fast! G...",2020-02-28 22:27:26

In [28]:
yelp.to_csv('yelp_2.csv')

In [30]:
# yelp = pd.read_csv()
# yelp = pd.read_json('E:/RNN/NLP/GL/yelp_academic_dataset_review.json')
yelp.sample(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
6807301,-bhVbTV-OXJpSdRWxotGAQ,wO_v6ctw8QjjQbdf4yelBw,ytynqOUb3hjKeJfRj5Tshw,2.0,0,0,0,Good options just dirty atmosphere. Its very d...,2020-10-16 17:37:35
3287950,n3dRTnx_QzGLwezLva4XYg,57OAy68bJo4Ym3rEhwCCGg,G17lZXUFj79CPZ-mAgbYDw,5.0,1,0,0,I was so happy to meet Sarah during my pregnan...,2017-04-14 00:17:32
3395217,r_hRFygy0RWcc5GGli0pvA,uBQEKwVn1UbV5U383CqxOQ,XE8hPOu9DFvhk7-aGHmaAA,5.0,0,0,0,Great place!! wonderful staff! will be taking ...,2016-06-15 17:16:48
2614185,uAmu-3rjBf-csh6s3274gA,YJRiJvngyS6GljrA-MilcQ,GEL_vUHipc20TvmIRh-33Q,3.0,0,0,0,I can't give an honest review of the food beca...,2021-01-17 22:45:14
1213058,PadBAm5R7hrp6N3sYFtyuQ,B_RhT6CpAllq9NxtkpiDTA,5wo7nNHOvfzt2c-PG0BUKQ,4.0,1,1,0,What can I say about subway that has not alrea...,2008-08-23 23:00:09
3455449,TUsP8-8oJuIoP2xJlPICaA,zPGJZueZdaMlk1uBaX41gA,lhZ1fCasvMVWPTBEpllPJg,1.0,1,0,0,This was a very upsetting experience. Please r...,2018-07-05 17:12:23
6155173,m_DgSEwcOJe-svm9E6diHA,vh1A3q-ev3MuNxtcCd8ADQ,BWkiW0r0h7ytdbWMhay7wA,5.0,1,0,0,This place had the most amazing sour beer I've...,2020-03-07 22:27:40
4750336,RljzQq6Vdhk0JtKQSWp0Lw,rZzBNEMUOTjokVVAbNk7nA,uVri4t3oyA7gqbX5q7_0LA,1.0,0,0,0,I ordered online and the order was pending for...,2020-10-28 16:08:19
346398,gjg6ImgiWSbuVn-rPk6x9w,F3uJG_v0educVvOFsoPACQ,4SneIG3-02kRCgQx-hu51Q,4.0,3,2,2,We decided to give JB's another try. The servi...,2018-12-03 01:07:56
2015931,FvRS6uv6pw7fuXFj-lu1Cw,y1B4w2SJR1ygFh1VyXCZQw,PZqlfYwEZPZt1FqH07-8_Q,5.0,0,0,0,We did the gyro sandwich and mixed gyro plate ...,2020-08-09 02:06:45

In [31]:
yelp.shape

(10000, 9)

In [32]:
yelp_2 = yelp[(yelp.stars==5) | (yelp.stars==1)] # yelp_2 contains only 1 star and 5 star reviews

In [ ]:
# yelp_2 = yelp_2.sample(4000)

In [33]:
yelp_2.sample(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
2311687,nMjop_UwKRZav1H1U_qM0A,J17FcRvc4LD2sA5aV36b_Q,v_wAk6pCbtKmcQfEKQBOPg,5.0,0,0,0,This place is pretty awesome - home cooked bbq...,2017-08-24 18:46:21
1205552,1WN5JkCxnfOGkP6hnrsYdg,K2GkgW-VmQzMNFSOfgDA9g,UmtGDYiva0bukKDWLQRdaQ,5.0,0,0,0,I've had my fair share of parking violations f...,2019-10-25 15:09:27
6205192,aZebusxAp0sO_EgXvKicVw,9fHqduAGGLjep5mhNOqmwA,X1cAKstyGPdqJEY1-_rSYA,5.0,0,0,0,Actually stopping in the middle of my meal bec...,2020-08-24 00:03:14
6152012,eaNf1lDTzJEkXqxFmqxdHA,YHb76Xt1Akr7ND_0jJy4sw,oJBsZt4PlU1fOZEzJ9Ha2Q,1.0,2,0,0,Hello Yelp Fam. Not a complainer. Nor a sugar ...,2021-05-07 05:59:29
5059322,AwDlE7wFE-TrAgEMWZcqCw,7BvkUTLh5ckrXFpFhIJ85Q,4MFIksBbFgsbVyqH9Tmoiw,1.0,0,0,0,Over-rated. Much more creative pizza at Bazbea...,2014-10-17 14:59:52
1072323,UQgbHVkhiIYRXpXbnkrqXw,a9vxJa7ubqQyOoAWsDcCQw,G6woICjwtJIbYHc6xatqfw,5.0,0,0,0,Our Server Kelli was extremely friendly and ma...,2016-06-10 15:39:49
5219564,_FaNzk_3UkW2HA6399Wc1A,a8lVx7eUfdU9z55ypcCwbQ,C9CBCZeC4fKF-d42chsj8A,5.0,2,0,1,"I love these kinds of dark, mysterious music v...",2011-12-28 19:21:32
5568353,IdLVKv_vk1Zdgun-sme3ow,qAsDtkgWo76xlfOb6KOueg,YeDEIStqxtUGAGmiG8Xcyw,5.0,0,0,0,Wish I would of gotten everyones name but I di...,2018-11-16 15:20:26
6986483,01v0SBVdL1PpF3_L91tb4A,GR7-1pQrgIDcLXAtSpO3cQ,QJOC6Uz-RCpzPB6aMjtP9Q,5.0,4,2,2,I love this cozy breakfast/brunch place in Poi...,2019-10-18 06:13:20
6155173,m_DgSEwcOJe-svm9E6diHA,vh1A3q-ev3MuNxtcCd8ADQ,BWkiW0r0h7ytdbWMhay7wA,5.0,1,0,0,This place had the most amazing sour beer I've...,2020-03-07 22:27:40

In [34]:
yelp_2.shape

(6116, 9)

In [35]:
# X and Y

x = yelp_2.text
y = yelp_2.stars

In [36]:
x_train, x_test, y_train, y_test =train_test_split(x,y, random_state=1)

## Tokenization

WHAT: Separate text into units such as sentances or words
WHY: Gives structure to previously unstructured data

In [37]:
# use CountVectorizer to create document-term-matrix from x_train and x_test
vect = CountVectorizer()

In [58]:
print(vect.get_feature_names())

NotFittedError: Vocabulary not fitted or provided

In [39]:
vect.fit(x_train) #tokenization

CountVectorizer()

In [42]:
x_train_dtm = vect.transform(x_train) #vectorization

In [43]:
x_train_dtm

<4587x17427 sparse matrix of type '<class 'numpy.int64'>'
	with 290563 stored elements in Compressed Sparse Row format>

In [44]:
type(x_train_dtm)

scipy.sparse.csr.csr_matrix

In [45]:
demo = pd.DataFrame(x_train_dtm.toarray())
demo.columns = vect.get_feature_names()
demo

,00,000,00am,00p,00pm,01,02,027665,03,0364,...,zone,zoo,zoom,zoya,zucchini,zuccuto,zumba,zydeco,árbol,étouffée
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4583,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4584,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
x_test_dtm  = vect.transform(x_test) # uses the same features from training

In [48]:
# rows are documents, columns are trems(tokens, features)
x_test_dtm.shape

(1529, 17427)

In [49]:
type(x_test_dtm)

scipy.sparse.csr.csr_matrix

In [50]:
# last 50 feartures

print(vect.get_feature_names()[-50:])

['yummm', 'yummmm', 'yummmmm', 'yummy', 'yummyyy', 'yup', 'yvonne', 'yywijko1ux9_vxlzln6jrg', 'za', 'zacahary', 'zach', 'zack', 'zahav', 'zama', 'zapata', 'zea', 'zee', 'zemam', 'zen', 'zeny', 'zeppoles', 'zero', 'zest', 'zestos', 'zesty', 'zeyed', 'zilch', 'zillow', 'zinburger', 'zing', 'zinini', 'zio', 'ziogio', 'zip', 'zipcar', 'zipper', 'ziti', 'zoe', 'zoes', 'zoffinger', 'zone', 'zoo', 'zoom', 'zoya', 'zucchini', 'zuccuto', 'zumba', 'zydeco', 'árbol', 'étouffée']

In [52]:
import pyttsx3
text = pyttsx3.init()
s = 'The code is Compiled'
text.say(s)
text.runAndWait()

In [51]:
demoTest = pd.DataFrame(x_test_dtm.toarray())
demoTest.columns = vect.get_feature_names()
demoTest.head()

,00,000,00am,00p,00pm,01,02,027665,03,0364,...,zone,zoo,zoom,zoya,zucchini,zuccuto,zumba,zydeco,árbol,étouffée
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
vect

CountVectorizer()

In [59]:
#dont convert to lower case

vect = CountVectorizer(lowercase = True) # try with True also

In [60]:
x_train_dtm.shape

(4587, 17427)

## n_grams

In [61]:
  #include 1-grams and 2-grams
vect = CountVectorizer(ngram_range=(2,2), lowercase = True) # Check with what happens in 1,2

In [62]:
x_train_dtm = vect.fit_transform(x_train)

In [63]:
x_train_dtm.shape

(4587, 169189)

In [64]:
# last 20 features
print(vect.get_feature_names()[-20:])

['zoo charges', 'zoo cost', 'zoo first', 'zoo had', 'zoo oh', 'zoo would', 'zoom due', 'zoya and', 'zoya vinylux', 'zucchini and', 'zucchini bread', 'zucchini filled', 'zucchini fries', 'zucchini oh', 'zucchini sticks', 'zuccuto was', 'zumba instructor', 'zydeco cocktail', 'árbol and', 'étouffée he']

#Predict

In [125]:
final_df = pd.DataFrame(columns=['range','shape','training Acc', 'testing Acc', 'Flag','features'])

In [133]:
for i in range(12):
    print(i)

TypeError: 'tuple' object is not callable

In [138]:
# del range
for i in range(1,5,1):
    for j in range(i,5):

        range1 = (i,j)
        flag = True
        vect = CountVectorizer(ngram_range=range1, lowercase=flag)
        vect.fit_transform(x_train)
        # Create Document-Term-matrics
        x_train_dtm = vect.fit_transform(x_train)
        x_test_dtm = vect.transform(x_test)
        # use Naive Bayes to predict the star rating
        nb = MultinomialNB()
        nb.fit(x_train_dtm, y_train)
        y_pred_class = nb.predict(x_test_dtm)
        final_df.loc[len(final_df.index)] = [range1 , x_train.shape, nb.score(x_train_dtm, y_train), nb.score(x_test_dtm, y_test), flag, vect.get_feature_names()[-5:]]
final_df

import pyttsx3
text = pyttsx3.init()
s = 'The code is Compiled'
text.say(s)
text.runAndWait()

In [139]:
final_df

,range,shape,training Acc,testing Acc,Flag,features
0,"(1, 1)","(4587,)",0.964029,0.928712,True,"[zuccuto, zumba, zydeco, árbol, étouffée]"
1,"(1, 2)","(4587,)",0.996294,0.932636,True,"[zydeco cocktail, árbol, árbol and, étouffée, ..."
2,"(1, 3)","(4587,)",0.999782,0.916939,True,"[árbol and, árbol and classic, étouffée, étouf..."
3,"(1, 4)","(4587,)",1.000000,0.897973,True,"[árbol and classic buffalo, étouffée, étouffée..."
4,"(1, 1)","(4587,)",0.964029,0.928712,True,"[zuccuto, zumba, zydeco, árbol, étouffée]"
5,"(1, 2)","(4587,)",0.996294,0.932636,True,"[zydeco cocktail, árbol, árbol and, étouffée, ..."
6,"(1, 3)","(4587,)",0.999782,0.916939,True,"[árbol and, árbol and classic, étouffée, étouf..."
7,"(1, 4)","(4587,)",1.000000,0.897973,True,"[árbol and classic buffalo, étouffée, étouffée..."
8,"(1, 1)","(4587,)",0.964029,0.928712,True,"[zuccuto, zumba, zydeco, árbol, étouffée]"
9,"(1, 2)","(4587,)",0.996294,0.932636,True,"[zydeco cocktail, árbol, árbol and, étouffée, ..."
10,"(1, 3)","(4587,)",0.999782,0.916939,True,"[árbol and, árbol and classic, étouffée, étouf..."
11,"(1, 4)","(4587,)",1.000000,0.897973,True,"[árbol and classic buffalo, étouffée, étouffée..."
12,"(1, 1)","(4587,)",0.964029,0.928712,True,"[zuccuto, zumba, zydeco, árbol, étouffée]"
13,"(1, 2)","(4587,)",0.996294,0.932636,True,"[zydeco cocktail, árbol, árbol and, étouffée, ..."
14,"(1, 3)","(4587,)",0.999782,0.916939,True,"[árbol and, árbol and classic, étouffée, étouf..."
15,"(1, 4)","(4587,)",1.000000,0.897973,True,"[árbol and classic buffalo, étouffée, étouffée..."
16,"(2, 2)","(4587,)",0.999564,0.935906,True,"[zuccuto was, zumba instructor, zydeco cocktai..."
17,"(2, 3)","(4587,)",1.000000,0.934598,True,"[zydeco cocktail and, árbol and, árbol and cla..."
18,"(2, 4)","(4587,)",1.000000,0.930674,True,"[árbol and classic, árbol and classic buffalo,..."
19,"(3, 3)","(4587,)",1.000000,0.922171,True,"[zuccuto was ball, zumba instructor we, zydeco..."
20,"(3, 4)","(4587,)",1.000000,0.921517,True,"[zydeco cocktail and the, árbol and classic, á..."
21,"(4, 4)","(4587,)",1.000000,0.864617,True,"[zuccuto was ball of, zumba instructor we have..."

In [121]:
vect = CountVectorizer(ngram_range=range, lowercase=flag)

In [122]:
vect.fit_transform(x_train)

<4587x17427 sparse matrix of type '<class 'numpy.int64'>'
	with 290563 stored elements in Compressed Sparse Row format>

In [123]:
# Create Document-Term-matrics
x_train_dtm = vect.fit_transform(x_train)
x_test_dtm = vect.transform(x_test)

In [124]:
# use Naive Bayes to predict the star rating
nb = MultinomialNB()
nb.fit(x_train_dtm, y_train)

MultinomialNB()

In [116]:
y_pred_class = nb.predict(x_test_dtm)
print("shape", x_train.shape)
print("Training Accuracy", nb.score(x_train_dtm, y_train))
print("Training Accuracy", nb.score(x_test_dtm, y_test))

shape (4587,)
Training Accuracy 0.9690429474602137
Training Accuracy 0.9234793982995422

In [117]:

final_df.loc[len(final_df.index)] = [range , x_train.shape, nb.score(x_train_dtm, y_train), nb.score(x_test_dtm, y_test), flag]
final_df

    range    shape  training Acc  testing Acc
0  (1, 2)  (4587,)      0.996294     0.932636
1  (1, 1)  (4587,)      0.964029     0.928712
2  (2, 2)  (4587,)      0.999564     0.935906
3  (2, 3)  (4587,)      1.000000     0.934598
4  (1, 1)  (4587,)      0.969043     0.923479

In [118]:
vect.get_feature_names()[-10:] # 1,1

['ziti',
 'zone',
 'zoo',
 'zoom',
 'zoya',
 'zucchini',
 'zuccuto',
 'zydeco',
 'árbol',
 'étouffée']

In [110]:
vect.get_feature_names()[-10:] # 2,3

['zuccuto was',
 'zuccuto was ball',
 'zumba instructor',
 'zumba instructor we',
 'zydeco cocktail',
 'zydeco cocktail and',
 'árbol and',
 'árbol and classic',
 'étouffée he',
 'étouffée he loved']

# End